{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                    <h2>Forgot Your Password?</h2>
                    <p>Enter your username to reset your password.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn bg-dark text-white">Continue</button>
                    </form>
                    <br>
                    <a href="{% url 'accounts.login' %}" class="text-decoration-none">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
